{{!-- views/admin/agenda.hbs --}}
<div class="container mt-4">
  <h2 class="mb-4">Agenda</h2>

  <div class="ratio ratio-16x9">
    <iframe src="https://calendar.google.com/calendar/embed?src=ciclica.style%40gmail.com&ctz=America%2FArgentina%2FBuenos_Aires" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            style="border:0"
            frameborder="0"
            scrolling="no">
    </iframe>
  </div>
</div>
