<form action="/admin/login" method="post">
  <div class="mb-3">
    <label for="inputUser" class="form-label">Usuario Administrador</label>
    <input
      type="text"
      class="form-control"
      id="inputUser"
      placeholder="Usuario"
      name="usuario"
      required
    >
  </div>

  <div class="mb-3">
    <label for="inputPassword" class="form-label">Contraseña</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      placeholder="Contraseña"
      name="password"
      required
    >
  </div>

  <button type="submit" class="btn btn-primary w-100">Entrar</button>

  {{#if error}}
    <div class="alert alert-danger mt-3 text-center">
      Usuario o contraseña incorrectos
    </div>
  {{/if}}
</form>
